{% extends "base.html" %}
{% block title %}
    <title>CREATE ACCOUNT</title>
{% endblock %}

{% block body %}
    <header>
        <h1>REGISTRE SUS DATOS</h1>
        
        <div class="img">
            <img style="
                      background-image: url({{foto}});
                      background-size: cover;
                      background-repeat: no-repeat;
                 " 
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="300" height="300">
       </div>
    </header>

    <form action="#"  method="POST">
        {% with messages = get_flashed_messages()  %}
            {% for message in messages %}
                <p {{message.0}}={{message.1}} >{{ message.2 }}</p>
            {% endfor %}
        {% endwith %}
        <div class="input">
            <input name="usuario" type="text" required>
            <label>NUEVO USUARIO</label>
        </div>
        <div class="input">
            <input name="password" type="text"required>
            <label>NUEVA CONTARSEÑA</label>
        </div>
    
        <div class="input">
            <p>CREAR COMO</p>
            <select  name="type">
                <option value="C">USUARIO</option>
                <option value="F">FOTOGRAFO</option>
            </select>
        </div>

    <button type="submit">CREAR CUENTA</button>

    </form>
    <div class="link">
        <a href="/">VOLVER A LOGIN</a>
    </div>
{% endblock %}
